services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    environment:
      TRUSTED_ORIGINS: portainer.home.mcgrath.sh
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/nas/services/portainer
    ports:
      - 9443:9443
      - 8000:8000

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: main
    external: true
